body{
    font-family: sans-serif;
}
#content{
    width: 40%;
    margin: 50px auto;
}
.bloc-gauche{
    float: left;
}
.bloc-droit{
    margin-left: 100px;
}
.gauche{
    float: left;
}
.droit{
    float: right;
}
.table{
    border: 2px solid #fff;
    background-color: #6084ff;
    width: 100px;
    height: 200px;
    position: relative;
}
.name{
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    color: white;
    position: absolute;
    width: 80px;
}
.bloc-gauche .name{
    text-align: left;
}
.bloc-droit .name{
    text-align: right;
}
.bloc-gauche .name1{
    top: 40px;
    right: 50px;
}
.bloc-droit .name1{
    top: 40px;
    left: 50px;
}
.bloc-gauche .name2{
    bottom: 40px;
    right: 50px;
}
.bloc-droit .name2{
    bottom: 40px;
    left: 50px;
}
.bloc-gauche .name{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.bloc-droit .name{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}