#content{
    width: 40%;
    margin: 50px auto;
}
.bloc-gauche{
    float: left;
}
.bloc-droit{
    margin-left: 100px;
}
.gauche{
    float: left;
}
.droit{
    float: right;
}
.table{
    border: 1px solid #000;
    background-color: #ffbf80;
    width: 100px;
    height: 200px;
    position: relative;
}
.name{
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    color: white;
    position: absolute;
}
.bloc-gauche .name1{
    top: 20px;
    left: -20px;
}
.bloc-droit .name1{
    top: 20px;
    right: -20px;
}
.bloc-gauche .name2{
    bottom: 20px;
    left: -20px;
}
.bloc-droit .name2{
    bottom: 20px;
    right: -20px;
}
.bloc-gauche .name{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.bloc-droit .name{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}